<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <meta th:content="${_csrf.token}" th:name="_csrf"/>
    <title th:text="${user.username} + '\'s Account'">Account</title>
</head>
<body>
<div th:replace="header :: header"></div>
<div class="container">
    <h1 th:text="${user.username} + '\'s Account'"></h1>
    <ul th:replace="navfragment :: displayOptions(true)"></ul>
    <div th:replace="postfragment :: posts(${posts}, ${totallikes}, ${mylikes})"></div>
    <div th:replace="navfragment :: pageNavigation(${posts}, ${pagenumbers})"></div>
</div>
<div th:replace="likefragment :: purchaselikesmodal"></div>
<script th:replace="likefragment :: likescript"></script>
</body>
</html>
