<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <meta th:content="${_csrf.token}" th:name="_csrf"/>
    <title th:text="${user.username} + '\'s Account'">Account</title>
</head>
<body th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
<div th:replace="header :: header"></div>
<div class="container">
    <h1 th:text="${user.username} + '\'s Account'"></h1>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link"
               th:classappend="${param.show == null} ? active : (${param.show != null && param.show[0].equalsIgnoreCase('posts')} ? active)"
               th:href="@{${urlBuilder.replaceQueryParam('show', 'posts').build().toUriString()}}">Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               th:classappend="${param.show != null && param.show[0].equalsIgnoreCase('comments')} ? active"
               th:href="@{${urlBuilder.replaceQueryParam('show', 'comments').build().toUriString()}}">Comments</a>
        </li>
        <li class="nav-item ml-auto">
            <a class="nav-link"
               th:classappend="${param.sort == null} ? active : (${param.sort != null && param.sort[0].equalsIgnoreCase('popular')} ? active)"
               th:href="@{${urlBuilder.replaceQueryParam('sort', 'popular').build().toUriString()}}">Popular</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${param.sort != null && param.sort[0].equalsIgnoreCase('new')} ? active"
               th:href="@{${urlBuilder.replaceQueryParam('sort', 'new').build().toUriString()}}">New</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${param.sort != null && param.sort[0].equalsIgnoreCase('old')} ? active"
               th:href="@{${urlBuilder.replaceQueryParam('sort', 'old').build().toUriString()}}">Old</a>
        </li>
    </ul>
    <div th:replace="postfragment :: posts(${posts}, ${totallikes}, ${mylikes})"></div>
    <div th:replace="postfragment :: pageNavigation(${posts}, ${pagenumbers})"></div>
</div>
<div th:replace="postfragment :: purchaselikesmodal"></div>
<script th:replace="postfragment :: likescript"></script>
</body>
</html>
