<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="logged-out">
    <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler navbar-toggler-right" data-target="#navbarNavDropdown" data-toggle="collapse"
            type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="index.jsp">Home</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/post">New Post</a>
            <a class="nav-item nav-link" href="/login">Login</a>
            <a class="nav-item nav-link" href="/register">Register</a>
            <a class="nav-item nav-link" href="/account">Account</a>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="logged-in">
    <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler navbar-toggler-right" data-target="#navbarNavDropdown" data-toggle="collapse"
            type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="index.jsp">Home</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/post">New Post</a>
            <a class="nav-item nav-link" href="/login">Login</a>
            <a class="nav-item nav-link" href="/register">Register</a>
            <a class="nav-item nav-link" href="/account">Account</a>
        </div>
    </div>
</nav>
</body>
</html>