<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/remarkable.min.js" type="text/javascript"></script>
    <title th:text="${postdto.post.title}"></title>
    <meta th:content="${_csrf.token}" th:name="_csrf"/>
    <meta th:content="${postdto.post.id}" th:name="postid"/>
</head>
<body>
<div th:replace="header :: header"></div>
<div class="container my-2">
    <div class="row border rounded bg-light">
        <div class="col-md-6" th:if="${postdto.post.imageId != null}">
            <div>
                <img class="img-fluid p-1 rounded" th:alt="${postdto.post.title}"
                     th:src="@{/image(id=${postdto.post.imageId})}"/>
            </div>
        </div>
        <div th:class="${postdto.post.imageId == null} ? 'col-md-12' : 'col-md-6'">
            <h5 th:text="${postdto.post.title}"></h5>
            <div th:replace="postfragment :: likeButton(${postdto.likes}, ${postdto.userLikes}, ${postdto.post.id})"></div>
            <small class="text-muted"
                   th:text="${'Posted ' + prettyTime.format(postdto.post.timestamp) + ' ago by'}"></small>
            <a class="text-muted" th:href="@{/account/{postid}(postid = ${postdto.user.id})}"
               th:text="${postdto.user.username}"></a>
            <p class="markdown" th:text="${postdto.post.text}"></p>
        </div>
    </div>
    <div class="row my-3" sec:authorize="isAuthenticated()">
        <div class="col-md-6 mx-auto border rounded p-2">
            <form enctype="multipart/form-data" id="commentForm" method="post"
                  th:action="@{/newcomment}" th:object="${commentform}">
                <input th:attr="name='postId'" th:value="${postdto.post.id}" type="hidden">
                <div class="form-group">
                    <textarea class="form-control" id="commentInput" placeholder="Add a comment..." rows="4"
                              th:field="*{text}"></textarea>
                </div>
                <div class="form-group">
                    <label for="pictureInput">Upload a picture (optional)</label>
                    <input class="form-control-file" id="pictureInput" th:field="*{image}" type="file"/>
                </div>
                <button class="btn btn-primary" type="submit">Add Comment</button>
            </form>
        </div>
    </div>
</div>
<script th:replace="postfragment :: likescript"></script>
<script type="text/javascript">
    const md = new remarkable.Remarkable();
    Array.from(document.getElementsByClassName("markdown")).forEach(field => {
        field.innerHTML = md.render(field.innerHTML);
    });
</script>
</body>
</html>