<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row border rounded bg-light my-3" th:each="post: ${posts}" th:fragment="posts(posts, prettyTime)">
    <div class="col-3">
        <img class="img-fluid p-1 rounded" th:alt="${post.title}" th:if="${post.imageId != null}"
             th:src="@{/image(id=${post.imageId} + '_thumb')}"/>
    </div>
    <div class="col-9">
        <a th:href="@{/post(post=${post.id})}"><h5 th:text="${post.title}"></h5></a>
        <small class="text-muted" th:text="${'Posted ' + prettyTime.format(post.timestamp) + ' ago by'}"
               th:title="${#temporals.formatISO(post.timestamp.toInstant())}"></small>
        <a class="text-muted" th:href="@{/account/${post.user.id}}"
           th:text="${post.user.username}"></a>
        <p class="markdown" th:text="${#strings.abbreviate(post.text, 140)}"></p>
    </div>
</div>
</body>
</html>